
/*增加的内容*/
.am-dimmer-active{overflow:hidden !important}
.footer{
    /*margin-top: 60px;*/
    height: 53px;
}
.am-navbar {
    height: 53px;
    background-color: #fff;
    box-shadow:0px 0px 1px #E0E3E4;
}
.am-navbar li{
padding: 0;
}
.footer ul li img{
    width: 25px;
    height: 25px;
    margin-bottom: 4px;
}

.am-navbar-label{
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #6c6c6c;
}
.active{
    color:#22bb62;
}
/*
图片轮播*/
.main_image li img,.main_image li a {
    display: block;
    width: 100%;
    height: 220px;
}
.main_image1 li img,.main_image1 li a {
    display: block;
    width: 100%;
    height: 159px;
}
.main_image li {
    float: left;
    width: 100%;
    height: 220px;
}
.main_image1 li {
    float: left;
    width: 100%;
    height: 159px;
}
.main_image ul {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.main_image1 ul {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.main_image {
    overflow: hidden;
    position: relative;
    height: 220px;
}
.main_image1 {
    overflow: hidden;
    position: relative;
    height: 159px;
}
div.flicking_con {
    position: absolute;
    bottom: 2%;
    left: 43.4%;
    z-index: 999;
    width: 100%;
    height: 21px;
    /* margin: 0 0 0 -50px;*/
}
div.flicking_con1 {
    position: absolute;
    bottom: 2%;
    left: 43.4%;
    z-index: 999;
    width: 100%;
    height: 21px;
    /* margin: 0 0 0 -50px;*/
}
.main_visual {
    overflow: hidden;
    position: relative;
    height: 220px;
}
.main_visual1 {
    overflow: hidden;
    position: relative;
    height: 159px;
}

div.flicking_con a {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    text-indent: -1000px;
    margin-right: 2%;
}
div.flicking_con a.on{
    float: left;
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: #22bb62;
    border-radius: 50%;
    display: block;
    text-indent: -1000px;
    margin-right: 2%;
}
div.flicking_con1 a {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    text-indent: -1000px;
    margin-right: 2%;
}
div.flicking_con1 a.on{
    float: left;
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: #22bb62;
    border-radius: 50%;
    display: block;
    text-indent: -1000px;
    margin-right: 2%;
}
[class*=am-u-]+[class*=am-u-]:last-child {
    float: left;
}
body .layui-m-layer .layui-m-layer-msg{
    bottom: 0 !important;
}
.layui-m-layer0{
    overflow: hidden;
}



/*下拉列表*/
.o-blank,.aa-mainMore{
margin: auto;
padding-top: 50px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    background-color: #EEEEEE;
    padding-bottom: 20px;
}
.o-blank img{height: 90px;width:100px;margin-bottom: 10px;}
.o-blankWord{font-size:13px;color: #636363;line-height: 24px;}
.o-blankWord2{color: #636363;font-size: 13px}
.o-blankWord2 a{color: #636363}
.aa-mainMore{font-size:13px;color: #636363;line-height: 24px;}
#wrapper {
    position:relative;;
    top:10px; left:0;
    width:100%;
}

#scroller {
    position:relative;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    float:left;
    width:100%;
    padding:0;
}

#scroller ul {
    position:relative;
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
    top:0px;
    margin-bottom: 50px;
}
.loadBox{position: relative;bottom: 50px;}
#scroller li {
    padding:0 0px;
}

#scroller li > a {
    display:block;
}
.bigImg{z-index: 99999}
.hide{display: none !important;}