.index-f{width: 100%;}
.index-t2-2{font-size: 16px;}
.my-sectionTitleLi{float:left;display: inline-block;width: 20%;text-align: center;height: 40px;line-height: 40px;background-color: #FFFFFF}
.my-sectionTitleLiChose{color: #22bb62;border-bottom: 2px #22bb62 solid;}